:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-card {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-info {
    padding: 12px;
  }

  .producto-imagen-wrapper {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 8px;
  }

  .description {
    flex-grow: 1; /* Esto permite que la descripción ocupe todo el espacio vertical disponible */
  }

  .product-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
  }

.producto-acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}
