
<p>cart works!</p>

<div class="cart-container">
    <mat-card *ngFor="let item of cartItems; let i = index" class="cart-item">
        <mat-card-title>{{ item.nombre }}</mat-card-title>
        <mat-card-content>
            <p>{{ item.descripcion }}</p>
            <p>Precio: {{ item.precio }}</p>
            <div class="quantity-controls">
                <button mat-icon-button (click)="decreaseQuantity(item)">
                    <mat-icon>remove</mat-icon>
                </button>
                <input type="number" [value]="item.cantProd" name="cantidad" readonly>
                <button mat-icon-button (click)="increaseQuantity(item)">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button (click)="removeItem(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="total-card">
        <mat-card-content>
            <p>Total: ${{ total }}</p>
        </mat-card-content>
    </mat-card>
    <button mat-raised-button color="primary" routerLink="/products">Añadir más productos</button>
    <button mat-raised-button color="accent" routerLink="/checkout">Finalizar compra</button>

</div>