<div class="card-container" *ngIf="form">
  <mat-card>
    <h2>{{ isEditMode ? 'Editar Producto' : 'Añadir Producto' }}</h2>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nombre" formControlName="nombre" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Precio" formControlName="precio" />
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="limpiarFormulario()"
          class="clear-button"
        >
          Limpiar
        </button>
        <button mat-raised-button color="primary" type="button" (click)="onSubmit()">
          {{ isEditMode ? 'Guardar cambios' : 'Crear producto' }}
        </button>
      </div>

    </form>
  </mat-card>
</div>
