<p>signup works!</p>
<mat-card class="card">
  <mat-card-content>
    <h2>Registro</h2>

    <form [formGroup]="signupForm" (submit)="signup()" ngNoForm>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
        <mat-hint>Ingrese su email</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Ingrese un email válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          El email es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="pass" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-hint *ngIf="!passwordInput?.value">
          Escriba su contraseña
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="pass2" matInput placeholder="Confirmar Contraseña" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-hint *ngIf="!signupForm.get('pass2')?.value">
          Confirme su contraseña
        </mat-hint>
        <mat-error *ngIf="signupForm.hasError('passwordMismatch')">
          Las contraseñas no coinciden
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="dni" matInput placeholder="DNI" type="number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Provincia</mat-label>
        <mat-select formControlName="province">
          <mat-option value="CABA">CABA</mat-option>
          <mat-option value="GBA">GBA</mat-option>
          <mat-option value="Buenos Aires">Buenos Aires</mat-option>
          <mat-option value="Catamarca">Catamarca</mat-option>
          <mat-option value="Chaco">Chaco</mat-option>
          <mat-option value="Chubut">Chubut</mat-option>
          <mat-option value="Córdoba">Córdoba</mat-option>
          <mat-option value="Corrientes">Corrientes</mat-option>
          <mat-option value="Entre Ríos">Entre Ríos</mat-option>
          <mat-option value="Formosa">Formosa</mat-option>
          <mat-option value="Jujuy">Jujuy</mat-option>
          <mat-option value="La Pampa">La Pampa</mat-option>
          <mat-option value="La Rioja">La Rioja</mat-option>
          <mat-option value="Mendoza">Mendoza</mat-option>
          <mat-option value="Misiones">Misiones</mat-option>
          <mat-option value="Neuquén">Neuquén</mat-option>
          <mat-option value="Río Negro">Río Negro</mat-option>
          <mat-option value="Salta">Salta</mat-option>
          <mat-option value="San Juan">San Juan</mat-option>
          <mat-option value="San Luis">San Luis</mat-option>
          <mat-option value="Santa Cruz">Santa Cruz</mat-option>
          <mat-option value="Santa Fe">Santa Fe</mat-option>
          <mat-option value="Santiago del Estero">Santiago del Estero</mat-option>
          <mat-option value="Tierra del Fuego">Tierra del Fuego</mat-option>
          <mat-option value="Tucumán">Tucumán</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput type="date" formControlName="date">
      </mat-form-field>
      
      

      <div class="button-container" *ngIf="!signupForm.hasError('passwordMismatch')">
        <button mat-raised-button color="primary">Registrarse</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>